<my-home></my-home>
<div class="col-md-6 col-md-offset-3">
<div align="center">
<table style="width:100%">
  <tr>
    <td>Name</td>
      <td>:</td>
    <td>John Sprague</td> 
  </tr>
 <tr>
    <td>Department/Division</td>
      <td>:</td>
    <td>Film Crew Technology</td> 
  </tr>
   <tr>
    <td>Title</td>
     <td>:</td>
    <td>Adjunct Faculty</td> 
  </tr>
  <tr>
    <td>Office</td>
     <td>:</td>
    <td>Infy</td> 
  </tr>
</table>
</div>
<!-- <p>
  About Works!
  <li *ngFor="let user of users">
        <span>{{user.id}}::::{{user.userId}}</span> 
     </li>
</p> -->
</div> 
